<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Iniciar sesión | Idakoos Perú</title>
<meta name="description" content=""/>
<meta name="keywords" content=" "/>

<!--Open Graph-->
<!-- og tags Facebook -->
<meta property="og:title" content="Iniciar sesión | Idakoos Perú" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.idakoos.pe/process" />
<meta property="og:image"content=""/>
<meta property="og:site_name" content="idakoos.pe/process" />
<meta property="og:description"content=""/> 


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56221242-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-42152857-1');
</script>

<script> 

(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','UA-42152857-1');

</script>


<link rel="preload" href="https://idks-rsrs-content.s3.amazonaws.com/lab2/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link href="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/logos/icon.png" rel="shortcut icon" type="image/x-icon">
<!-- Font awesome 5 -->
<link rel="preload" href="https://idks-rsrs-content.s3.amazonaws.com/lab2/fonts/fontawesome/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<!--
<link href="[[URL_CDN_STORAGE]]/fonts/feathericons/css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="[[URL_CDN_STORAGE]]/fonts/material-icons/css/materialdesignicons.css" rel="stylesheet" type="text/css" />
-->
<!-- custom style -->
<link rel="preload" href="https://idks-rsrs-content.s3.amazonaws.com/lab2/css/ui.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/> 
<link href="https://idks-rsrs-content.s3.amazonaws.com/lab2/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
<link href="../../css/custom.css" type="text/css" rel="stylesheet" />
<!--
<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
-->
<meta name="urlDomainDefault" id="urlDomainDefault" content="idakoos.pe">
<meta name="urlCdnStorageDefault" id="urlCdnStorageDefault" content="https://storage.googleapis.com/sspe-appv20-resources/idakoos.pe">

<script src="https://scripts.winwinafi.com/tracking.js"></script>
</head>

<body itemscope itemtype="http://schema.org/WebPage">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=UA-42152857-1" height="0" width="0"
style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="https://idks-rsrs-content.s3.amazonaws.com/lab2/js/jquery-2.0.0.min.js" type="text/javascript"></script>
<script src="https://idks-rsrs-content.s3.amazonaws.com/lab2/js/bootstrap.bundle.min.js" type="text/javascript" ></script>
<script>
    var domain = document.getElementById("urlDomainDefault").getAttribute("content");
    var timestamp = String(Date.now());
    var setn1 = {
      "url": "https://idks-rsrs-content.s3.amazonaws.com/idakoos2.0/lang_tienda.json?v="+timestamp,
      "method": "GET",
      "timeout": 0,
    };

    jQuery.ajax(setn1).done(function (response) {
        var tind = response["tiendas"][domain]["idioma"];
        var moneda = response["tiendas"][domain]["moneda"];
        var moneda_cod = response["tiendas"][domain]["moneda_cod"];
        sessionStorage.setItem("lang_store",tind);
        sessionStorage.setItem("moneda_store",moneda);
        sessionStorage.setItem("moneda_cod",moneda_cod);
    });
</script>








<div id="es_idakos" value="0IHm9gDQQrAqAYcy0BP5OE7e0jxshvZWaEc7FTNt8MY06fFI7L"></div>

<style type="text/css">
body,html{overflow-x: hidden}
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/

#mobile-menu{display: none;}

/** CARRITO **/
.box-cart {display: none; position: absolute; z-index: 1000; background: #fff; border: 1px solid #cacaca; right: 0 }
.box-cart {width: 360px; height: 100vh; top: 0 !important; }
.box-cart-flex {display: flex; display: -webkit-flex; flex-direction: column; align-items: center; justify-content: center; padding: 0; }
.box-cart-header {width: 100%; display: flex; flex-direction: column; margin-bottom: 0px; height: 70px; justify-content: center; padding: 20px 10px;}
.box-cart-header-top {position: absolute; right: 10px; top: 20px; height: auto; background: #FFFFFF; padding: 5px; width: 30px; height: 30px; color: #000000; text-align: center; border-radius: 50%;}
.box-cart-header-bot h1 {float: left; margin-left: 10px; font-size: 11px; font-weight: 700; text-transform: uppercase; }
.box-cart-body { width: 100% }
.box-cart-scroll-pro {width: 100%; height: 100%; background: #fff; overflow: scroll; overflow-x: hidden; margin-bottom: 0px;padding: 10px; }
.body-row-pro {display: flex; display: -webkit-flex; display: -webkit-box; flex-direction: row; height: 80px; margin-bottom: 10px }
.row-img-pro {width: 40%; height: 100% }
.row-img-pro img {height: 100% }
.row-det-pro {width: 45% }
.row-det-pro h1 {margin-top: 0; margin-bottom: 0; font-size: 10px; text-transform: uppercase; text-align: left; font-weight: 700 }
.row-det-pro p {font-size: 10px; text-align: left }
.row-cant-pro {display: flex; display: -webkit-flex; display: -webkit-box; flex-direction: row; justify-content: center; width: 10% }
.row-cant-pro a {font-size: 11px }
.row-cant-pro p {font-size: 11px }
.box-cart-price {width:100%;display: flex; flex-direction: row; margin-top: auto; justify-content: space-between; padding: 12px; }
.box-cart-price .cart-price-title {}
.box-cart-price .cart-price-title p {float: left; font-weight: 700; font-size: 13px; color: #000 }
.box-cart-price .cart-price-price {}
.box-cart-price .cart-price-price p {float: right; font-weight: 700; font-size: 13px; color: #000 }
.box-cart-btn {margin-bottom: 10px; text-align: center }
.btn-cart {color: #fff; background-color: #000; border-color: #ccc }
.box-cart-header-bot > span{ display: flex;align-items: center;}
.box-cart-header-bot > span h5{margin: 0;margin-right: 5px;}
.box-cart-header-bot > span img{margin-right: 5px;}
.subtitle_cr{font-weight: 600;background: #000;width: 100%;font-size: 12px; padding: 5px;color: #FFF;}
#tmpblosa{display: flex; flex-direction: column; height: 100%;overflow: auto;}
.box-cart-flex{height: 100%;}
.box-cart-body-pro{height: 100%;}
#bolsalenth{font-size: 14px;}
.ms_categories{font-family: Titillium Web;font-size: 18px;}
.ms_categories a{color: #383838;}

#accordion_pay .panel-default > .panel-heading {height: 45px; }
.checkout .step .payment_method label {width: 100% !important; float: initial !important; font-weight: normal !important; } 
.btn_gotopay{border-radius: unset; color: #ffffff !important; background-color: #000 !important; border: 0px!important; padding: 5px;width: 150px; height: 40px; font-weight: bold;} 
.cant_prd{padding: 5px; background: #000;border: 1px solid #000; display: inline-block; border-radius: 100%; width: 30px; height: 30px; text-align: center; font-size: 12px; font-weight: 700;color: #FFF;}
.info .title{font-weight: 500;}
.mostrarb{display: block;position:fixed;}
figcaption.info{position: unset;}
figcaption.info .cant_prd{position: absolute; right: 5px; bottom: 10px;}
.box-cart-scroll-pro .itemside{padding: 10px; border: 1px solid #DDD;margin-bottom: 5px;}
#spnCartQty{background: #fab81c; width: 16px; height: 16px; font-size: 11px; text-align: center; color: #fff; font-weight: 600; border-radius: 3px; padding-top: 0px; margin-left: -5px; margin-top: 7px; position: absolute; line-height: normal;}


  ::-webkit-scrollbar-thumb {
    background: #000;
    border: 10px groove #000;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background: #e3e3e3 !important;
    border: 5px solid #e3e3e3 !important;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar {
    width: 10px !important;
    height: 5px !important;
  }

 /* #navbar3 {
    background-color: white;
  }*/

  #dropdown6 > li > a {padding: 7px 15px; cursor: pointer; font-weight: 700 !important;color: #000; }
  #dropdown6 > li:nth-child(7) > a,#dropdown6 > li:nth-child(8) > a,#dropdown6 > li:nth-child(9) > a{font-weight: 700 !important;}
  #dropdown6 > li.ms_categories > a {color: #383838;}

  /*h5 {
    font-weight: 600 !important;
  }*/

  @media (min-width: 1113px) {
.m_s__blanks .megamenu > li {
    display: inline-block !important;
    padding: 20px 15px 0 15px;
    min-height: 400px !important;
    width: 20% !important;
    z-index: 12;
    position: relative;
    vertical-align: top;
    float: left !important;
}
  }

  @media (min-width: 1113px) {
.m_s__moda-per- .megamenu > li {
    display: inline-block !important;
    padding: 20px 15px 0 15px;
    min-height: 400px !important;
    width: 20% !important;
    z-index: 12;
    position: relative;
    vertical-align: top;
    float: left !important;
}
  }

  @media (min-width: 1113px) { 
.m_s__blanks .megamenu > li > ul > li {
    display: block !important;
    margin-bottom: 10px !important;
}
  }

  @media (min-width: 1113px) { 
.m_s__moda-per- .megamenu > li > ul > li {
    display: block !important;
    margin-bottom: 10px !important;
}
  }

  @media (min-width: 1113px) { 
 .dropdown.m_s__blanks .dropdown-menu.megamenu {
    padding-left: 28vw !important;
    text-align: left !important;
}
  }

  @media (min-width: 1113px) {
    .m_s__categories .megamenu {
      background: url(https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/1-MEGAMENU-18---HOMBRE.jpg)
        no-repeat;
      background-size: cover;
      padding: 60px !important;
      height: 30vw;
      justify-content: center;
      align-items: center;
      background-position: center;
    }
  }
  @media (min-width: 1113px) {
    .m_s__mujer .megamenu {
      background: url(https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/2-MEGAMENU-19---MUJER.jpg)
        no-repeat;
      background-size: cover;
      padding: 60px !important;
      height: 30vw;
      justify-content: center;
      align-items: center;
      background-position: center;
    }
  }

  @media (min-width: 1113px) {
    .m_s__ni-os .megamenu {
      background: url(https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/3-MEGAMENU-20---NINOS.jpg)
        no-repeat;
      background-size: cover;
      padding: 60px !important;
      height: 30vw;
      justify-content: center;
      align-items: center;
      background-position: center;
    }
  }

  @media (min-width: 1113px) {
    .m_s__accesorios .megamenu {
      background: url(https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/4-MEGAMENU-21---ACCESORIOS.jpg)
        no-repeat;
      background-size: cover;
      padding: 60px !important;
      height: 30vw;
      justify-content: center;
      align-items: center;
      background-position: center;
    }
  }
  @media (min-width: 1113px) {
    .m_s__blanks .megamenu {
      background: url(https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/5-MEGAMENU-22---BLANKS-1.jpg)
        no-repeat;
      background-size: cover;
      padding: 60px !important;
      height: 30vw;
      justify-content: center;
      align-items: center;
      background-position: center;
    }
  }

  @media (min-width: 1113px) {
    .m_s__moda-per- .megamenu {
      background: url(https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/7-MEGAMENU-24---MODA-PERU.jpg)
        no-repeat;
      background-size: cover;
      padding: 60px !important;
      height: 30vw;
      justify-content: center;
      align-items: center;
      background-position: center;
    }
  }

  @media (min-width: 1113px) { 
 .dropdown.m_s__moda-per- .dropdown-menu.megamenu {
    padding-left: 28vw !important;
    text-align: left !important;
}
  }

  .navbar-nav li {
    padding-top: 0;
    float: none;
    list-style: none;
  }
  .menu-large {
    position: static !important;
  }
  @media (min-width: 1113px) {
    .m_s__categories .megamenu > li,
    .m_s__mujer .megamenu > li,
    .m_s__ni-os .megamenu > li,
    .m_s__accesorios .megamenu > li {
      display: inline-block !important;
      padding: 20px 20px 0 20px;
      min-height: 300px !important;
      width: 300px !important;
      z-index: 12;
      position: relative;
      vertical-align: top;
    }
  }

  .dropdown .dropdown-menu.megamenu {
    width: 100%;
    position: absolute;
    left: 0;

    text-align: center !important;
    padding-top: 60px !important;
  }
  .dropdown .dropdown-menu li {
    text-align: left;
  }

  .megamenu > li > ul {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    margin-top: 15px;
  }
  .megamenu > li > a,
  .m_s__mujer .megamenu > li > a,
  .m_s__ni-os .megamenu > li > a,
  .m_s__accesorios .megamenu > li > a {
    padding: 0 !important;

    font-weight: 700 !important;
  }

  .megamenu > li > a {
    margin-bottom: 12px !important;
  }

  @media (min-width: 1113px) {
    .m_s__categories .megamenu > li > ul > li,
    .m_s__mujer .megamenu > li > ul > li,
    .m_s__ni-os .megamenu > li > ul > li,
    .m_s__accesorios .megamenu > li > ul > li {
      display: block !important;
      margin-bottom: 10px !important;
    }
  }

  #navbar3{padding-top: 0;padding-bottom: 0;}
  #dropdown6 li.dropdown:not(.ms_categories) .dropdown-menu {position: absolute; top: 100%; left: -7%; z-index: 1000; display: none; float: left; border-radius: 0; min-width: 160px !important; padding: 0 !important; margin: 0 !important; list-style: none; font-size: 14px; text-align: left; background-color: #3c5b70; -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-background-clip: padding-box; background-clip: padding-box; }
  #dropdown6 .dropdown-menu li{background: none;padding: 0;border: 0;border-radius: 0;}
  #dropdown6 .dropdown-menu li a{font-family: Titillium Web;color: #fff;font-size: 15px; padding: 10px 15px!important; display: block;border-radius: 0; }
  #dropdown6 .dropdown > a::before {content: ''; border: 2px solid #3c5b70; position: absolute; bottom: 0; left: 20%; right: 100%; -webkit-transition: all .5s; transition: all .5s; opacity: 0;}
  #dropdown6 .dropdown:hover > a::before {opacity: 1; border: 2px solid #3c5b70; right: 20%;}
  #dropdown6 .dropdown-menu li a:hover{color: #fab81c;}
  /***/
  .m_s__categories > a{font-family: Titillium Web;color: #383838;font-size: 16px;}
  .ms_categories > a{position: relative;}
  .ms_categories .dropdown-menu.megamenu {background-color: #3c5b70;width: 100%; position: absolute; left: 0; text-align: center !important; padding-top: 60px !important; margin-top: 0px; border-radius: 0; border: 0; padding-bottom: 60px;}
  .megamenu .listadp ul {width: 85%;margin: 0 auto;display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .megamenu .listadp ul li{display: inline-block;width: 20%;}
  .megamenu .listadp ul li a{text-transform: capitalize!important; text-align: left!important; color: #FFFFFF !important; margin: 0; margin-bottom: 10px; opacity: 1; -webkit-transition: all .3s; transition: all .3s; font-size: 15px !important;}
  .megamenu .listadp ul li a i{color: #FFFFFF; margin-right: 5px;}
  .megamenu .listadp{margin-top: 30px;}

  /*.header-main{
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .row{
    margin-right: 0;
    margin-left: 0;
  }*/
  a {
    color: #000;
  }

  .logo1 {
    width: 30px;
  }
  .logo2 {
    width: 20px;
  }
  section[data-secction="1"] {
    background: black;
    padding: 3px 0;
    border-bottom: 2px solid #FFFFFF !important;
  }
  section[data-secction="1"] a {
  font-size: 14px !important;
  }
  section[data-secction="2"] {
    padding: 0.5% 0;
    border-bottom: 2px solid #FFFFFF !important;
  }
  section[data-secction="4"] {
    padding: 0.5% 0;
  }
  /*.col-md-1 {
    padding: 1px 0;
  }*/
  #ico_buscador_1 {border-radius: 0; border: 1px solid rgba(167, 167, 167, 0.236); border-right: none; background: #fff; box-shadow: none; }
  #txtSearch {border-radius: 0; border-left: none; border: 1px solid #FFFFFF; height: 40px;box-shadow: none; }
  .widget-header2 {padding-left: 50%; }
  .notify {top: 10%; right: 10%; }
  .p-2 {padding: 4px !important; } 
  .icon2 {display: inline-block; height: 48px; line-height: 48px !important; font-size: 20px; }
  .icon1 {display: inline-block; height: 48px; line-height: 48px !important; font-size: 20px; }
  
  @media (min-width: 991px) {
    section .container {
      width: 98% ;
      margin: 0 auto;
      max-width: unset;
    }
  }
  @media (min-width: 991px) {
    section .container1 {
      width: 98% ;
      margin: 0 auto;
      max-width: unset;
    }
  }

@media (min-width: 768px) and (max-width: 991px) {
    #dropdown6 > li > a {padding: 7px !important;}
}


  /*menumobile*/
  .dropdown-toggle::after {
    display: none;
  }
  #menu_mobile_flip {
    height: 60px;
  }
  #mobile-menu {
    background-color: #3c5b70;
  }
  #mobile-menu .controls{height: 60px;display: flex;align-items: center;}
  #mobile-menu a, #mobile-menu i{
    position: relative;color: #FFFFFF;font-size: 14px;
  }
  #mobile-menu li a{font-family: Titillium Web;font-size: 18px;color: #FFFFFF !important;}
  #mobile-menu li.ms_categories > a{font-size: 18px;}
  .menu_mobile li a {
    color: #000;
    padding: 0.8rem 1rem;
  }
  .menu_mobile li > a{
    padding: 20px;
  }
  .menu_mobile ul.submenus li.list-group-item > a{padding: 8px;}
  .slide-menu__decorator {
    float: right;display: none;
  }
  .menu_mobile li a.slide-menu__backlink {
    padding: 0.8rem 1rem;
    background: #000;
    color: #fff;
  }
  .submenus .slide-menu__control{width: 100%;}
  .logo_img img {
    width: 120px;
  }
  .img_tienda {
    margin-top: 20%;
  }
  .img_tienda img {
    width: 140px;
    margin: 0 auto;
    display: block;
  }
  .icon_carrito,
  .icon_user {
    display: inline-block;
  }
  #menu_mobile_flip > .row {
    height: 100%;
    align-items: center;
  }
  #openNav {
    font-size: 20px;
  }
  .img_ustr {
    margin-right: 5px;
  }
  .search1 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-20%) translateY(-50%);
    transform: translateX(-0%) translateY(-50%);
    z-index: 999 !important;
    right: -10px;
  }
  .search1 * {
    outline: none;
    box-sizing: border-box;
    fill:white;
  }
  .search__wrapper {
    position: relative;
  }

  .search__field {
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 1.35em;
    /*padding: 0.35em 50px 0.35em 0;*/
    border: 1px solid #3c5b70;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .search__icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3c5b70;
    width: 50px;
    height: 50px;
    font-size: 1.35em;
    text-align: center;
    border: none;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
    padding: 0;
    margin: 0;
  }
  .search__field:focus {
    width: 85vw;
  }
  .search__icon svg {
    /*height: 18px;
    width: 18px;*/
  }
  .icon_user,
  .icon_carrito {
    margin-right: 5px;
  }

  @media (max-width: 767px) {
    .section-header section[data-secction="1"] {
      display: none;
    }
  }

  /**/
  @media (max-width: 767px) {
    .section-header {
      display: none;
    }
  }

  @media (min-width: 768px) {
    #menu_mobile_flip {
      display: none;
    }
  }

  @media (max-width: 1099px) and (min-width: 768px){
    #navbar3{justify-content: center;padding-left: 0;padding-right: 0;}
    #dropdown6 > li > a {letter-spacing: 0px; padding: 0 7px 0; cursor: pointer; font-weight: 500 !important; color: #000; font-size: 0.9em !important;}
    .sectionII > .row{justify-content: center;}
    .sectionII .sec_carrito{text-align: right;}
    .sectionII .sec_carrito .widget-header2{padding: 0;}
    .sec_carrito:before {content: ""; position: absolute; left: 10%; top: 30%; bottom: 30%; border: 1px solid #FFFFFF; }
    .ms_categories{font-size: 1rem !important;}
    .sectionII > .row {padding: 0px 20px !important;}
  }
  /**/

  @media (min-width: 1200px) {
    .section-header section .container {
      width: 95%;
      max-width: unset;
    }
  }
  @media (min-width: 1200px) {
    .section-header section .container1 {
      width: 100% !important;
      max-width: unset;
    }
  }

  header.section-header .container1{padding: 0 10px;}

  .opcn_cot{background: #0165C3;color: #FFFFFF;}
  .opcn_cot a, .ttiel{font-weight: 600;color: #FFFFFF;}
  .sectionII > .row{margin: 0;justify-content: space-between;padding: 0px 80px;}
  .sec_carrito:before{    content: ""; position: absolute; left: 15%; top: 30%; bottom: 30%; border: 1px solid #FFFFFF;}
  /*menu_mobile*/
  #menu_mobile_flip {background: #3c5b70;}
  #openNav{color: #FFFFFF;}
  #menu_mobile_flip .icon_carrito #spnCartQty{position: absolute;}
  #menu_mobile_flip .icon_user{display: none;}
  .slide-menu__control{width: 15%;height: 100%;background: #19485a;border-radius: 0;}
  .optc_rs{background: #0f2e38;display: flex;justify-content: space-between; align-items: center;width: 100%;height: 100%; padding: 0 10px;}
  .menu_mobile_opt li a{padding: 0.8rem 1rem;}

  #mobile-menu ul li a:not(.slide-menu__backlink):after{content: ''; position: absolute; right: 0; width: 15px; height: 15px; top: 35%; background-image: url(https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icons-movilmenu-05.svg); background-repeat: no-repeat; }

  .menu_mobile .ms_categories ul.megamenu li a.slide-menu__control{width: 100%;padding: 10px !important;}
  .menu_mobile .ms_categories ul.megamenu .listadp{margin-top: 0px;}
  .menu_mobile .ms_categories ul.megamenu .listadp ul {display: block;position: relative;left: 0;margin-top: 0px;}
  .menu_mobile .ms_categories ul.megamenu .listadp ul li{display: block;width: 100%;}
  .menu_mobile .ms_categories ul.megamenu > li:nth-child(2){display: none;}
  .menu_mobile .ms_categories ul.megamenu li a.slide-menu__control{margin-bottom: 0px !important;}

  .optc_rs > a:first-child{font-weight: 600;}
  #mobile-menu ul li{background: #3c5b70;border: 0;border-bottom: 1px solid #FFFFFF;}
  #mobile-menu .controls button.slide-menu__control i{font-size: 20px;}
  .linkrastreo a{color: #fab81c !important;font-size: 16px!important;}
  .icon_prg{margin-left: auto;}
  .icon_usrr{margin-left: 10px;}
  .lista_s{display: flex;align-items: center;font-family: Titillium Web;width: 160px;height: 100%; padding: 10px; background: #bdbdbd;border-radius: 5px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
  #ico_buscador_1{border-radius: 5px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;border: 0;}
  .lista_s > a{font-size: 13px;}
  .lista_s a:hover{color: #000;}
  .lista_s ul{width: 250px;padding: 0;left: 0;}
  .lista_s ul li{display: block;width: 100%;font-family: 'Oswald',sans-serif !important;}
  .lista_s ul li a{display: block;font-size: 13px!important;padding: 8px!important;color: #000000;transition: all .5s;}
  .lista_s ul li a:hover{background: #fab81c!important;color: #383838!important;}
  .search > div{border: 2px solid #FFF;border-radius: 7px;background: #FFF;}


  @media (max-width: 1099px){
    .setVacio-md{display: none;}
  }

  @media (max-width: 1099px) and (min-width: 768px){
    .lista_s{width: auto;}
  }

.msg_new {
    position: relative;
    font-size: 9px;
    font-weight: 700;
    left: unset;
    background: #f44336;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    top: -8px;
}
</style>
<!-- //MENU MOBILE -->
<nav class="slide-menu" id="mobile-menu">
  <div class="controls">
    <button type="button" class="btn slide-menu__control" data-action="close" aria-label="Cerrar"><i class="fas fa-times"></i></button>
    <div class="optc_rs linkrastreo">
      <a href="/process/orderfind.html">Rastrear orden</a>
      <a href="/info/100-Satisfaction-Guarantee.html" class="icon_prg">
        <img class="logo1" src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icons-movilmenu-04.svg" alt="Ayuda" width="30" height="30">
      </a>
      <a href="/process/logind.html" class="icon_usrr">
        <img class="logo1" src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/IMG_MI_CUENTA_WH.webp" alt="Mi cuenta" width="30" height="30">
      </a>
    </div>
  </div>
  <ul class="menu_mobile"></ul>
  <!-- <div class="img_tienda"><a href="/"><img src=""></a></div> -->
</nav>

<section class="header-main border-bottom d-none" data-secction="1">
  <div class="container1">
    <div class="row justify-content-center">
      <div class="col-3 text-center">
        <a href="/" style="background-color: #fff; font-weight: 700; cursor: pointer; color: #000; padding: 4px 12px;border:solid 1px #fff;">RETAIL</a>
      </div>
      <div class="col-5 col-sm-3">
        <a href="/alpormayor" style="color: white; font-weight: 700; padding: 4px 12px;">AL POR MAYOR</a>
      </div>
      
      
      
      
    </div>
  </div>
</section>

<div id="menu_mobile_flip" class="container-fluid">
  <section class="row" data-secction="2">
    <div class="col-1">
      <a id="openNav" href="#" aria-label="Menu"> <i class="fas fa-bars"></i> </a>
    </div>
    <div class="col-5 logo_img"><a href="/"><img src="" alt="Idakoos" width="120" height="26"></a></div>
    <div class="col-2"></div>
    <div class="col-2">
      <div class="search1">
        <div class="search__wrapper">
          <input type="text" class="search__field" placeholder="Buscar...">
          <button class="search__icon"></button>
        </div>
      </div>
    </div>
    <div class="col-2 text-right">
      <div class="icon_carrito widget-header">
        <a href="/process/shopcart.html" class="img_crt"></a>
      </div>
      <div class="icon_user">
        <a href="/process/logind.html" class="img_ustr"></a>
      </div>
    </div>
  </section>
</div>
<!-- //FIN MENU MOBILE -->

<header class="section-header">
  <section class="header-main border-bottom" data-secction="1">
    <div class="container1">
      <div class="row">

        <div class="col-md-7 col-lg-7 col-xl-7">
          <aside id="K62ggBfUC0x3OOwwEZGnEvg7arUUdR"><p><strong><span style="color: #ffffff;">Visite nuestros otros sitios:</span></strong></p></aside>
        </div>
        <div class="col-md-1 col-lg-2 col-xl-2 setVacio-md"></div>
        <div class="col-md-2 col-lg-1 col-xl-1 text-center">
         <aside id="Oko0si4BWVfaPy4vTFanVsolV1C7OD"><p><span style="color: #fab81c;"><a href="/process/orderfind.html" style="color: #fab81c; font-weight: bold;">Rastrear orden</a></span></p></aside>
        </div>
        <div class="col-md-2 col-lg-1 col-xl-1 text-center">
          <aside><a href="/info/contactenos.html" style="color: white; font-weight: 700; cursor: pointer">Contáctanos</a></aside>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 text-center">
          <aside id="lFPzxNuQ92xeZqQaRtl9nPr9ESA2ac"><p><span style="color: #ffffff;"><strong><a href="/info/satisfaccion-garantizada.html" style="color: #ffffff;">Ayuda</a></strong></span></p></aside>
        </div>
      </div>
    </div>
  </section>
  <!-- header-main .// -->

  <section data-secction="2" style="background-color: rgb(60, 91, 112);">
    <div class="container1 sectionII">
      <div class="row align-items-center">
        <div class="col-md-2 col-lg-2 text-left" style="padding: 30px 0">
          <a href="/" class="brand-wrap mb-0">
            <img class="logo" src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/logos/idakoos_logo.svg" width="155px" height="34" alt="Idakoos">
          </a>
          
        <div class="parent_capa-logo"></div></div>

        <div class="col-md-1 col-lg-1"></div>

        <!-- logo -->
        <div class="col-md-5 col-lg-5  text center">
          <div class="search">
            <div class="input-group w-20">
              <ul class="list-unstyled mb-0">
                <li class="dropdown lista_s">
                  <a href="#" data-toggle="dropdown">Todos los productos <i class="fas fa-chevron-down fa-xs"></i></a>
                  <input type="hidden" id="hdfSearching">
                <ul class="dropdown-menu">
                  <li class="lincat" role="presentation"><a class="linkcat" abindex="-1" role="menuitem" href="#" onclick="SetIntoSearching(this)">Polo<input value="polo" type="hidden"> </a></li>
                  <li class="lincat" role="presentation"><a class="linkcat" abindex="-1" role="menuitem" href="#" onclick="SetIntoSearching(this)">Polera con capucha<input value="polera-con-capucha" type="hidden"> </a></li>
                  <li class="lincat" role="presentation"><a class="linkcat" abindex="-1" role="menuitem" href="#" onclick="SetIntoSearching(this)">Polos Camisa<input value="polo-camisa" type="hidden"> </a></li>
                  <li class="lincat" role="presentation"><a class="linkcat" abindex="-1" role="menuitem" href="#" onclick="SetIntoSearching(this)">Tazas<input value="taza" type="hidden"> </a></li>
                  <li class="lincat" role="presentation"><a class="linkcat" abindex="-1" role="menuitem" href="#" onclick="SetIntoSearching(this)">Mandiles<input value="mandil" type="hidden"> </a></li>
                  <li class="lincat" role="presentation"><a class="linkcat" abindex="-1" role="menuitem" href="#" onclick="SetIntoSearching(this)">Parking &amp; Crossing Signs<input value="crossing-sign" type="hidden"> </a></li>
                  <li class="lincat" role="presentation"><a class="linkcat" abindex="-1" role="menuitem" href="#" onclick="SetIntoSearching(this)">Bolsos<input value="bolso" type="hidden"> </a></li>
                </ul>
                </li>

                
              </ul>
              <input type="text" class="form-control" id="txtSearch" placeholder="Buscar">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="ico_buscador_1" aria-label="Buscar">
                  <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512" xml:space="preserve">
                    <g>
                      <path d="M0,466.9c0,12.1,4.7,23.4,13.2,31.9C22,507.6,33.6,512,45.1,512s23.1-4.4,31.9-13.2l136.5-136.5
                      c29.9,18.5,65.1,29.2,102.7,29.2c107.9,0,195.8-87.8,195.8-195.8S424.2,0,316.3,0S120.5,87.8,120.5,195.8
                      c0,37.7,10.7,72.9,29.2,102.7L13.2,435C4.7,443.5,0,454.8,0,466.9L0,466.9z M482,195.8c0,91.4-74.4,165.8-165.8,165.8
                      s-165.8-74.4-165.8-165.8S224.9,30,316.3,30S482,104.4,482,195.8z M30,466.9c0-4,1.6-7.8,4.4-10.7L167.6,323
                      c6.6,7.7,13.7,14.8,21.4,21.4L55.8,477.6c-5.9,5.9-15.5,5.9-21.4,0C31.6,474.7,30,470.9,30,466.9z"></path>
                      <path d="M451.8,195.8c0-74.7-60.8-135.5-135.5-135.5S180.8,121,180.8,195.8s60.8,135.5,135.5,135.5S451.8,270.5,451.8,195.8
                      L451.8,195.8z M421.8,195.8c0,58.2-47.3,105.5-105.5,105.5s-105.5-47.3-105.5-105.5S258.1,90.3,316.3,90.3S421.8,137.6,421.8,195.8
                      L421.8,195.8z"></path>
                    </g>
                  </svg> -->
                  <img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icon-search.webp" class="hidden-xs" alt="" width="20" height="21" align="right">
                </button>
              </div>
              
            </div>
          </div>
        </div>

        <!-- widgets -->
        <!-- <div class="col-md-1"></div> -->

        <div class="col-md-3 col-lg-2 text-right">
          <div class="icons">
            <div class="widget-header seccion_user">
              <a href="/process/logind.html">

                  <div class="icon1">
                    <img class="logo1" src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/IMG_MI_CUENTA_WH.webp" alt="Mi cuenta" width="30" height="30">
                    
                  </div>
                  <span style="color: #FFFFFF;font-size: 14px;font-weight: 700;">MI CUENTA</span>

              </a>
            </div>
          </div>
        </div>

        <div class="col-md-1 sec_carrito" style="padding: 12px 0">
          <a class="widget-header2" href="#">
            <div class="icon2 ic_carrito">
              <img class="logo1" src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/iconcarrito.svg" alt="Mi carrito" width="30" height="30">
              <span class="notify1" id="spnCartQty">0</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section data-secction="3" style="background-color: rgb(250, 184, 28);">
    <nav class="navbar navbar-expand-md navbar-main border-bottom" id="navbar3">
      <div class="container1">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto mr-auto" id="dropdown6">
      
        

      
        </ul>
        </div>
        <!-- collapse .// -->
      </div>
      <!-- container .// -->
    </nav>
  <div class="parent_capa-navbar3"></div></section>

  <section data-secction="4" class="" style="background-color: rgb(60, 91, 112); height: 40px; align-items: center; display: flex;">
    <div class="container1">
      <div class="row">
        <div class="col-md-12">
          <aside id="DKPmm8mfwP8yDD7JGiRapf4fPoWz3A"><p style="text-align: center;"><span style="color: #ffffff; font-size: 14pt;"><strong>Bienvenido</strong></span></p></aside>
        </div>
      </div>
    </div>
  </section>

  <aside class="box-cart">
    <div class="box-cart-flex">
        <div class="box-cart-header">
            <div class="box-cart-header-top">
                <a id="endBoxCart" href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="box-cart-header-bot">
                <span><h5>Mi Carrito</h5><span id="bolsalenth">(0)</span></span>
            </div>
        </div>
        <div class="subtitle_cr">Artículos en el carrito</div>
        <div class="box-cart-body" id="tmpblosa">

          <div class="box-cart-body-pro">
            <div class="box-cart-scroll-pro"></div>
          </div>

          <div class="box-cart-price">
            <a href="/process/shopcart.html"><button type="button" class=" btn btn-cart btn_gotopay"> Ir a pagar</button></a>
            <div class="info_precios">
                <div class="cart-price-title"><p>PRECIO TOTAL</p></div>
                <div class="cart-price-price"><p><b></b></p></div>
            </div>
          </div>  
          
        </div>
    </div>
</aside>
  <style>
    .slide-menu {
      width: 100% !important;
    }
  </style>
</header>

<style>
.logo_sitio{background: #3c5b70;padding-top: 15px;padding-bottom: 15px;}
.img-tp-lg{max-width: 100%;}
.btn-dstpolo,.btn-dstpolo:hover,.btn-dstpolo:active,.btn-dstpolo:focus{background: #3c5b70; border-radius: 0; border: none; padding: 10px 15px; font-size: 14px;}
.miUSR .dropdown-menu{position: absolute !important;right: 0 !important; left: unset !important;padding: 0 !important;}
.miUSR .dropdown-menu a:hover, .miUSR .dropdown-menu a:focus, .miUSR .dropdown-menu a:active{background: #3c5b70 !important;color: #FFFFFF !important;}
#header_profile .row{align-items: center;}
#navbardropw{font-size: 14px;}
#navbardropw:focus, #navbardropw:active, #navbardropw:hover{color:#000000 !important;}
</style>
<div id="header_profile" class="d-none">
<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-md-1 logo_sitio text-center">
      <a href="/"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/logos/idakoos_logo.svg" alt="IDAKOOS" width="300" height="42" class="img-fluid img-tp-lg"></a>
    </div>
    <div class="d-none d-sm-block col-md-7"></div>
    <div class="col-6 col-md-2">
      <div class="miUSR">
        <ul class="navbar-nav">
        <li class="nav-item dropdown text-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbardropw" data-toggle="dropdown"></a>
          <div class="dropdown-menu">
            <!--<a class="dropdown-item mperf" href="#">Configuración</a>-->
            <a class="dropdown-item btn_cerrarsesion" href="#">Cerrar Sesión</a>
          </div>
        </li>
        </ul>
      </div>
    </div>
    <div class="d-none d-sm-block col-md-2 text-right">
      <a href="/info/page_design.html" class="btn btn-danger btn-dstpolo" target="_blank">Crea un diseño nuevo</a>
    </div>
  </div>
</div>
</div>

<style>
#header_catalog{background: #000000;padding:6px 0px;}
.widget-header4{position: relative;}
.icon4, .icon3{display: inline-block; /*height: 48px; line-height: 48px !important;*/ font-size: 20px;}
.logo4, .logo3 {width: 30px; height: 30px; }
#spnCartQty3{cursor: pointer;}
.img-tp-lg3{max-width: 100%;}
.sec_carrito2{text-align: right;}
.seccion_user4 {text-align: right; }

@media (max-width:767px){
  .img-tp-lg3{max-width: 180px; margin: 0 auto; display: block;margin-bottom: 5px;}
  .imh{text-align: center;}
  .seccion_user4 { text-align: left;}
}
</style>
<div id="header_catalog" class="d-none">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <a href="/"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/logos/idakoos_logo.svg" alt="IDAKOOS" width="300" height="42" class="img-fluid img-tp-lg3"></a>
      </div>
      <div class="col-md-6 imh">
        <p class="ttiel">Expertos en la fabricación de productos personalizados</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-8 col-md-3">
            

            <div class="widget-header4 seccion_user4">
              <!--
              <a href="/mi_perfil">

                  <div class="icon4">
                    <img class="logo4" src="https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/icons/IMG_MI_CUENTA_WH.png" alt="Mi cuenta">
                  </div>
                  <span style="color: #FFFFFF;font-size: 14px;font-weight: 700;">MI CUENTA</span>

              </a>
              -->
              <a href="/info/contactenos.html"><span style="color: #FFFFFF;font-size: 16px;font-weight: 700;">Contáctenos</span></a>
              <a href="/info/preguntas-frecuentes.html" class="ml-3"><span style="color: #FFFFFF;font-size: 16px;font-weight: 700;"><i class="far fa-question-circle"></i> Ayuda</span></a>
            </div>

      </div>
      <div class="col-4 col-md-1 sec_carrito2">
        
          <div class="widget-header3">
            <div class="icon3 ic_carrito3">
              <img class="logo3" src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/IMG_CARRITO_WH.webp" width="70" height="70" alt="Mi carrito">
              <span class="notify3" id="spnCartQty3" style="color: #FFFFFF;font-size: 16px;font-weight: 600;">0</span>
            </div>
          </div>

      </div>
    </div>
  </div>

  <aside class="box-cart">
      <div class="box-cart-flex">
          <div class="box-cart-header">
              <div class="box-cart-header-top">
                  <a id="endBoxCart" href="#"><i class="fas fa-times"></i></a>
              </div>
              <div class="box-cart-header-bot">
                  <span><h5>Mi Carrito</h5><span id="bolsalenth">(0)</span></span>
              </div>
          </div>
          <div class="subtitle_cr">Artículos en el carrito</div>
          <div class="box-cart-body" id="tmpblosa">

            <div class="box-cart-body-pro">
              <div class="box-cart-scroll-pro"></div>
            </div>

            <div class="box-cart-price">
              <a href="/process/shopcart.html"><button type="button" class=" btn btn-cart btn_gotopay"> Ir a pagar</button></a>
              <div class="info_precios">
                  <div class="cart-price-title"><p>PRECIO TOTAL</p></div>
                  <div class="cart-price-price"><p><b></b></p></div>
              </div>
            </div>  
            
          </div>
      </div>
  </aside>
</div>

<script>
  $(function(){
    if(window.location.pathname === '/alpormayor'){
      $('.header-main a[href="/alpormayor"]').css('color','#000');
      $('.header-main a[href="/alpormayor"]').css('background-color','#fff');
      $('.header-main a[href="/alpormayor"]').css('border','solid 1px #fff');
      $('.header-main a[href="/"]').css('border','');
      $('.header-main a[href="/"]').css('color','#fff');
      $('.header-main a[href="/"]').css('background-color','#000');
    }
  })

  function SetIntoSearching(elem){
    var txt = $(elem).text() ;
    var url_t = $(elem).find("input[type='hidden']").val();
    $(".lista_s > a").text(txt);
    $("#hdfSearching").val(url_t);
    $(".lista_s ul.dropdown-menu").hide();

  }
</script>
<!-- section-header.// -->














































<!-- body -->
<script>
    $("header,#menu_mobile_flip, .section_breadcrumb").addClass("d-none");
    $("header,#menu_mobile_flip, .section_breadcrumb").remove();
    $("#header_catalog").removeClass("d-none");
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"async defer ></script>
<script src="https://idks-rsrs-content.s3.amazonaws.com/lab2/js/jquery.cookie.js"></script>
<script>
  if($.cookie("account_login")!=undefined || $.cookie("account_login")!=null){
    /*var hostname1 = $("#urlDomainDefault").attr("content");
    var cnm1 = hostname1+"_cookie_checkout1";
    var mdd = localStorage.getItem(cnm1);

    if(mdd==null){
      window.location.href = "/info/mi_cuenta.html";
    } else if(mdd!=null){
        var ps = JSON.parse(mdd);
        var prd = ps["products"];
        if(prd.length>0){
          window.location.href = "/process/checkout.html";
        } else {
          window.location.href = "/info/mi_cuenta.html";
        }
    }*/
    window.location.href = "/info/myAccount";

  }
</script>
<!--
<link href="[[URL_CDN_STORAGE]]/css/login.css?v=[[VERSION_URL]]"rel="stylesheet"type="text/css"/>
-->
<style>
  .contenido {
    background: #ffffff;
  }
  .content_iniciarsesion {
    background: #fff;
    padding: 20px;
  }
  /*  .card-title {
    margin-bottom: 0 !important;
  } */
  .btn_continuar,
  .btn_continuar:hover,
  .btn_continuar:active,
  .btn_continuar:focus,
  .btn_inv,
  .btn_inv:hover,
  .btn_inv:active,
  .btn_inv:focus {
    border-radius: unset;
    padding: 8px 25px;
    color: #fff;
    border: none;
    background: #19485A !important;
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
  .separador {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .separador hr {
    width: 100%;
  }
  .separador .mv {
    width: 40px;
    height: 30px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
  }
  #reg_fb,
  #reg_google {
    padding: 12px;
  }
  .btn_reg,
  .btn_reg:hover {
    border-radius: unset;
    padding: 12px 25px;
    color: #000;
    border: 1px solid #000;
    background: #fff;
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
  }
  .btn_reg b {
    color: #000;
  }
  .link_p,
  .link_p:hover {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
  }
  .card {
    margin-bottom: 20px;
    border: none;
  }
  .contenido h4 {
    color: #000;
  }
  #mesagge_login {
    text-align: center;
    min-height: 20px;
    color: red;
    font-weight: 600;
  }

  @media (min-width: 1200px) {
    /*.content_iniciarsesion > div:nth-child(3) {
      border-right: 1px solid #ddd;
    }*/
  }

  @media (max-width: 1199px) and (min-width: 768px){
    .bmf{display: none;}
  }
</style>

<!-- ========================= SECTION CONTENT ========================= -->
<input id="url_api_back" type="hidden" value="https://api-autenticacion.samishop.pe"/>
<section class="section-conten padding-y contenido" style="min-height: 84vh">
  <!-- -->
  <div class="container">
    <style>
      .breadcrb {
        padding-bottom: 20px;
      }
      .breadcrb ol li a,
      .breadcrb ol li a:hover,
      .breadcrb ol li a:focus,
      .breadcrb ol li a:active {
        color: #000;
      }
    </style>
    <div>
      <nav class="flex-fill breadcrb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Iniciar sesión
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      document.title = "Iniciar sesión";
    });
  </script>
  <!-- -->

  <div>
    <div class="col-md-12 col-lg-10 m-auto row content_iniciarsesion">
      <div class="col-12 col-md-4 col-lg-4 col-xl-4"></div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Iniciar sesión</h4>
            <p class="text-center d-none">
              Ingresa un correo o elige una opción para continuar
            </p>
            <div>
              <div class="form-group">
                <label for="correo">Correo:</label>
                <input name="correo"class="form-control"type="email"id="login_email"style="background: white"/> 
              </div>
              <!-- form-group// -->
              <div class="form-group">
                <label for="pass">Contraseña:</label>
                <input name="pass"class="form-control"type="password"id="login_password"style="background: white"/> 
              </div>
              <!-- form-group// -->

              <div class="form-group">
                <div id="google_recaptcha" class="d-none"></div>
                <button type="button"class="btn btn-primary btn-block btn_continuar"id="button_login"> Continuar </button>
              </div>
              <div class="form-group text-center mb-0">
                <a href="/info/recoverypwd.html" class="link_p">Olvidé mi contraseña</a>
              </div>
              <!-- form-group// -->
              <div id="mesagge_login"></div>

              <div class="form-group separador d-none">
                <hr />
                <div class="mv">O</div>
              </div>

              <!-- <div class="form-group row">
                          <div class="col-md-6">
                            <a href="#" class="btn btn-facebook btn-block " id="reg_fb"> Registrarme con &nbsp;<i class="fab fa-facebook-square fa-lg"></i> </a>
                          </div>
                          <div class="col-md-6">
                            <a href="#" class="btn btn-light btn-block " id="reg_google"> Registrarme con &nbsp; <img src="https://storage.googleapis.com/sspe-blnc-rscs/00000E62/PNG/1google_icon.png" width="20"> </a>
                          </div>
                        </div> -->

              <div class="form-group" id="ocultar-derecho">
                <h4 class="card-title mb-4">¿La primera vez aquí?</h4>

                <div class="form-group">
                  <a href="/info/registrod.html" class="btn btn-primary btn_inv">Regístrate ahora</a > 
                </div>
                <!-- form-group// -->
              </div>
            </div>
          </div>
          <!-- card-body.// -->
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
    <!-- card .// -->
  </div>
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!--
<script src="[[URL_CDN_STORAGE_PRINCIPAL]]/js/social/login-google.js?v=[[VERSION_URL]]"async defer ></script>
<script src="[[URL_CDN_STORAGE_PRINCIPAL]]/js/social/login-facebook.js?v=[[VERSION_URL]]"async defer ></script>
-->
<script type="text/javascript">
  var onloadCallback = function () {
    grecaptcha.render("google_recaptcha", {
      sitekey: "6LcxR1QfAAAAAA7YazmbNRKkKtDdT-yckZL3WDHo",
    });
  };
</script>

<script>
  const c_name_token = "account_login";
  const c_name_domain_default = "account_login_domain_default";

  document.getElementById("button_login").addEventListener("click", CheckLogin);

  verificar_automaticamente_session_redes_sociales();

  async function verificar_automaticamente_session_redes_sociales() {
    const queryParams = new URLSearchParams(window.location.search);
    const tipo_login = JSON.parse(queryParams.get("state"));

    if (typeof tipo_login === "undefined" || tipo_login === null) {
      return;
    }

    let url_api_back = document.getElementById("url_api_back").value;
    const dominio = $("#urlDomainDefault").attr("content");
    const codigo = queryParams.get("code");

    const datos = {
      codigo,
      dominio,
    };

    let response = null;

    if (tipo_login.tipo_login === "google.com") {
      url_api_back = url_api_back + "/users/cliente/acceso/google";

      response = await fetch(url_api_back, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
      });
    } else if (tipo_login.tipo_login === "facebook.com") {
      url_api_back = url_api_back + "/users/cliente/acceso/facebook";

      response = await fetch(url_api_back, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
      });
    }

    if (response != null && response.ok) {
      let result = await response.json();
      const data = result.obj[0];
      const login_status = result.bEstado;

      if (login_status === true) {
        const token_access = data.token_acceso;
        const token_time = data.token_tiempo;
        const domain_default = data.domainio_defecto;

        crear_cookie_accesso(c_name_token, token_access, token_time);
        crear_cookie_dominio(c_name_domain_default, domain_default, token_time);

        //window.location.href = "../mi_perfil";
        window.location.href = "/";
      } else {
        var codigo_error = result.iCodigo;
        if (codigo_error == "ERROR_VERIFICAR_CREDENCIALES") {
          mesagge_login.textContent = "Credenciales incorrectas";
        } else if (codigo_error == "ERROR_NO_EXISTE_USUARIO") {
          mesagge_login.textContent = "Credenciales incorrectas";
        }
      }
    } else {
      mesagge_login.textContent = "Ha ocurrido un error en el servicio";
    }
  }
  async function CheckLogin() {
    let url_api_back = document.getElementById("url_api_back").value;

    const login_email = document.getElementById("login_email").value;
    const login_password = document.getElementById("login_password").value;
    const login_domain = $("#urlDomainDefault").attr("content");

    let mesagge_login = document.getElementById("mesagge_login");

    /*  if (!grecaptcha.getResponse()) {
      mesagge_login.textContent = "Por favor confirma el captcha";
      return;
    } */

    const datos = {
      correo: login_email,
      contrasena: login_password,
      dominio: login_domain,
    };

    url_api_back = url_api_back + "/users/cliente/acceso";

    const response = await fetch(url_api_back, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(datos),
    });

    if (response.ok) {
      let result = await response.json();
      const data = result.obj[0];
      const login_status = result.bEstado;

      if (login_status === true) {
        const token_access = data.token_acceso;
        const token_time = data.token_tiempo;
        const domain_default = data.domainio_defecto;

        crear_cookie_accesso(c_name_token, token_access, token_time);
        crear_cookie_dominio(c_name_domain_default, domain_default, token_time);

        //window.location.href = "../mi_perfil";
        if($.cookie("account_login")!=null && localStorage.getItem("pasar") != null){
          localStorage.removeItem("pasar");
		      window.location.href = "/process/checkout.html";
	      }else{
          window.location.href = "/info/MyAccount"
        }
      } else {
        var codigo_error = result.iCodigo;

        if (codigo_error == "ERROR_VERIFICAR_CREDENCIALES") {
          grecaptcha.reset();
          mesagge_login.textContent = "Credenciales incorrectas";
        } else if (codigo_error == "ERROR_NO_EXISTE_USUARIO") {
          grecaptcha.reset();
          mesagge_login.textContent = "Credenciales incorrectas";
        }
      }
    } else {
      mesagge_login.textContent = "Ha ocurrido un error en el servicio";
      //console.log(result);
    }
  }

  function crear_cookie_accesso(c_name, value, time_default) {
    // var expires = "";
    // var date = new Date();
    // date.setTime(date.getTime() + (time_default));
    // expires = "; expires=" + date.toUTCString();

    // document.cookie = c_name + "=" + (JSON.stringify(value) || "")  + expires + "; path=/";

    var date = new Date();
    var minutes = 60;
    date.setTime(date.getTime() + minutes * 60 * 1000);
    $.cookie(c_name, value, { expires: date, path: "/" });
  }

  function crear_cookie_dominio(c_name_domain_default, value, time_default) {
    // var expires = "";
    // var date = new Date();
    // date.setTime(date.getTime() + (time_default));
    // expires = "; expires=" + date.toUTCString();

    // document.cookie = c_name_domain_default + "=" + (JSON.stringify(value) || "")  + expires + "; path=/";

    var date = new Date();
    var minutes = 60;
    date.setTime(date.getTime() + minutes * 60 * 1000);
    $.cookie(c_name_domain_default, value, { expires: date, path: "/" });
  }
</script>










<!-- ========================= FOOTER ========================= -->
<style>
  .suscrib {
    padding-top: 15px;
  }
  .suscrib #txt_tellme_mail_F {
    border: 1px solid #000;
    border-radius: 0px;
    height: 50px;
  }
  .suscrib #btn_mail_save {
    border: 1px solid #000;
    border-radius: 0px;
    background: #fff;
    color: #000;
    height: 50px;
    padding: 5px 20px;
  }
  /*.input-group-append {
    margin-left: 5px !important;
  }*/
  .section-footer #header-section2 section[data-seccion="2"]{
    padding: 60px 10px !important;
  }
  .section-footer #header-section1 section[data-seccion="1"]{
            padding: 25px 10px 0px;
  }
  .section-footer #header-section1,.section-footer #header-section2{border-bottom: 3px solid #FFFFFF;}
  .section-footer #header-section4 {
  }
  .img_head img {
    width: 150px;
  }
  .tc {
    text-align: right;
  }
  .footer-copyright p {
    font-size: 12px;margin-bottom: 0;
  }
  .footer-list ul li a:hover,
  .footer-list ul li a:active,
  .footer-list ul li a:focus {
    color: #343a40;
  }
  .section_text {
    color: #ffffff;
  }
  .padding-y {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  #footer-form{
    height: 120px;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .ModulosVacio {
      display: none;
    }
    .footer-copyright {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .footer-copyright {
      text-align: center;
    }
    .tc {
      text-align: center;
    }
    /*.footer-list {
      max-height: 44px;
      transition: max-height 0.19s ease-out;
      overflow: hidden;
    }
    .mostrar {
      max-height: 235px !important;
      transition: max-height 0.29s cubic-bezier(0, 0, 0.46, 0.51) !important;
    }*/
    .section-footer .title {
      /*border-bottom: 1px solid #000;*/
      padding: 10px 0;
    }
    .footer-list ul {
      margin-top: 22px;
      margin-left: 10px;
    }
    /*.footer-list .title {
      background-image: url(https://storage.googleapis.com/sspe-rscs-prod-cont/00000E3E/es-PE/images/gallery/flecha_derecha.png);
      background-size: 9px;
      background-repeat: no-repeat;
      background-position: right;
    }
    .footer-list.mostrar .title {
      background-image: url(https://storage.googleapis.com/sspe-rscs-prod-cont/00000E3E/es-PE/images/gallery/flecha_abajo.png);
      background-size: 23px;
      background-repeat: no-repeat;
      background-position: right;
    }*/
  }

  /*.list-unstyled {
    line-height: 2.5;
  }*/

  @media (min-width: 1200px) {
    .contenido-box {
      width: 80%;
      margin: 0 auto;
    }
  }

  .footer-list p{font-size: 14px;}

  @media (max-width: 768px){
    footer #header-section2 .row > aside:first-child{margin-bottom: 15px;}

    .section-footer ul li {margin: 16px 0px;}
    .section-footer ul li img {margin-right: 10px;}

  }

  @media (max-width: 992px) and (min-width: 769px){
    footer #header-section2 .row > aside{margin-bottom: 15px;}
  }
</style>
<footer class="section-footer border-top">
  <!-- <script id="script_seo" src="https://storage.googleapis.com/sspe-appv20-resources/2idakoos.samishop.pe/scripts_terceros/header/seo.js"></script> -->
  <div class="container-fluid">
    <!--
    <div class="row" id="header-section1">
      <section class="padding-x col-md-12" data-seccion="1" style="background-color: rgb(56, 56, 56);">
        <div class="contenido-box">
          <div class="row mx-md-0 mx-2">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <aside id="8iBSP8dnYYRS7zS8hmYVxEwW9uAAWA"><h5 style="color: #ffffff; font-family: Titillium Web;"><strong><span style="font-size: 18pt;">¡ÚNETE A NOSOTROS!</span></strong></h5>
<p style="color: #ffffff; font-family: Titillium Web;"><span style="font-size: 12pt;">Ingresa tu correo para enviarte las novedades que tenemos para nuestros clientes.</span></p>
<div class="parent_capa-Afooter"></div></aside>
            </div>

            <div class="col-md-5" id="footer-form">
              <iframe title="Newsletter" src="https://storage.googleapis.com/sspe-appv20-resources/sami3.samishop.pe/recursos/form.html?domain=idakoos.pe&idform=formulario%20footer" frameborder="0"></iframe>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
    </div>
    -->

    <div class="row" id="header-section2">
      <section class="footer-top padding-y col-md-12" data-seccion="2" style="background-color: rgb(25, 72, 90);">
        <div class="container-fluid">
          <div class="row">
            <aside class="col-md-12 col-lg-4 mce-content-body" id="Xxn59Cc5mhuEKGpia6NKlI4wYwKggl" spellcheck="false"><div>
<div class="img_head"><a href="/"> <img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/logos/idakoos_logo.svg" alt="Idakoos" width="150" height="33" loading="lazy"> </a></div>
<br> 
<h6><span style="color: #ffffff; font-family: 'Titillium Web';">Nuestra promesa</span></h6>
<p><span style="color: #ffffff; font-family: 'Titillium Web';">Hacer que te enamores de tu orden, producimos todos nuestros artículos ha pedido, cuidando hasta el más mínimo detalle.</span></p>
<p><span style="color: #ffffff; font-family: 'Titillium Web';">Contamos con más de 25 años de experiencia despachando nuestros productos al mundo entero.</span></p>
<p><span style="color: #ffffff; font-family: 'Titillium Web';">Estamos tan seguros de lo que hacemos que si por algún motivo no estuvieras 100% satisfecho, puedes devolverlo o cambiarlo gratis dentro de los 30 días.</span></p>
</div>
<p><span style="font-family: 'Titillium Web';"><!-- <div class="footer-list" >
                    <h6 class="title" ><span style="font-size: 12pt;">Datos del Contacto</span></h6>
                    <ul class="list-unstyled" >
                    <li ><span style="font-size: 8pt;"><a  href="#"><img  src="https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/wsp_footer.png" alt="Whatsapp" width="20" height="20"  loading="lazy">&nbsp;</a><a style="font-size: 13px; font-family: AvenirLTStd-Medium;" href="https://api.whatsapp.com/send?phone=51926976895" target="_blank" rel="noopener"> +51 926 976 895</a></span></li>
                    <li ><span style="font-size: 10pt;"><a  href="#"><span style="font-size: 12pt;"><img  src="https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/mail_footer.png" alt="Correo" width="20" height="20"  loading="lazy"> </span></a><a style="font-size: 13px; font-family: AvenirLTStd-Medium;" href="mailto:hola@tupolo.pe" target="_blank" rel="noopener"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">hola@tupolo.pe</span></a></span></li>
                    <li >&nbsp;</li>
                    </ul>
              </div> --></span></p>
<div class="parent_capa-Afooter"></div></aside>

            <aside class="col-md-6 col-lg-2 mce-content-body" id="jaQG6WdR4YrCI8BJWGTzViCv3yJ1gA" spellcheck="false"><div class="footer-list">
<h6 class="title"><strong><span style="color: #ffffff; font-family: 'Titillium Web';">Datos de Contacto</span></strong></h6>
<ul class="list-unstyled">
<li><span style="font-size: 8pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="#"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/wsp_footer_WH.webp" alt="Whatsapp" width="25" height="25" loading="lazy">&nbsp;</a><span style="font-size: 12pt;"><a style="color: #ffffff;" href="https://api.whatsapp.com/send?phone=51926976895" target="_blank" rel="noopener"> (51) 926 976 895</a></span></span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="mailto:idakoosperu@idakoos.com"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/mail_footer_WH.webp" alt="Correo" width="25" height="25" loading="lazy"> </a><a style="color: #ffffff;" href="mailto:idakoosperu@idakoos.com" target="_blank" rel="noopener">idakoosperu@idakoos.com</a></span></li>
<li><span style="font-family: 'Titillium Web';">&nbsp;</span></li>
</ul>
</div>
<div class="footer-list">
<h6 class="title"><strong><span style="color: #ffffff; font-family: 'Titillium Web';">Síguenos</span></strong></h6>
<ul class="list-unstyled l_siguenos">
<li><span style="font-size: 10pt; color: #ffffff; font-family: 'Titillium Web';"> <a style="color: #ffffff;" href="https://www.facebook.com/idakoos.peru/" target="_blank" rel="noopener" aria-label="Facebook"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/fb_WH.webp" alt="Facebook" width="20" height="20" loading="lazy"></a><span style="font-size: 12pt;">&nbsp; <a style="color: #ffffff;" href="https://www.facebook.com/idakoos.peru/" target="_blank" rel="noopener">Facebook</a> </span></span></li>
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://www.instagram.com/idakoos/" target="_blank" rel="noopener"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/ig_WH.webp" alt="Instagram" width="20" height="20" loading="lazy"> Instagram</a></span></li>
</ul>
</div>
<div class="parent_capa-Afooter"></div></aside>


            <aside class="col-md-6 col-lg-2 mce-content-body" id="CcDvGIs4BfuJOpUayCl37o2Z5UVPfw" spellcheck="false"><div class="footer-list">
<h6 class="title"><strong><span style="color: #ffffff; font-family: 'Titillium Web';">Ayuda</span></strong></h6>
<ul class="list-unstyled">
<li><span style="font-size: 10pt; color: #ffffff; font-family: 'Titillium Web';"> <a style="color: #ffffff;" href="/info/satisfaccion-garantizada.html"> <span style="font-size: 12pt;">100% Satisfacción Garantizada</span></a></span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="/info/ordenes.html">Órdenes</a></span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="/info/devoluciones-cambios.html">Devoluciones / Cambios</a></span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="/info/envio.html">Envío</a></span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="/info/faq.html">F.A.Q.</a></span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="/info/contactenos.html">Contáctenos</a></span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"><a style="color: #ffffff;" href="/info/afiliados.html">Afiliados</a></span></li>
<li><span style="font-family: 'Titillium Web';">&nbsp;</span></li>
</ul>
</div>
<div class="parent_capa-Afooter"></div></aside>


            <aside class="col-md-6 col-lg-2 mce-content-body" id="oYnYGu3ed4CkHebkXHRe4Un9JH6AaI" spellcheck="false"><div class="footer-list">
<h6 class="title"><span style="font-size: 12pt;"><strong><span style="color: #ffffff; font-family: 'Titillium Web';">Idakoos</span></strong></span></h6>
<ul class="list-unstyled">
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"> <a style="color: #ffffff;" href="/info/nosotros.html">Acerca de nosotros</a> </span></li>
</ul>
<h6 class="title"><span style="font-size: 12pt;"><strong><span style="color: #ffffff; font-family: 'Titillium Web';">Términos de Uso</span></strong></span></h6>
<ul class="list-unstyled">
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"> <a style="color: #ffffff;" href="/info/politica-de-privacidad.html">Políticas de privacidad</a> </span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"> <a style="color: #ffffff;" href="/info/politica-propiedad-intelectual.html">Propiedad intelectual</a> </span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"> <a style="color: #ffffff;" href="/info/terminos-y-condiciones.html">Términos y condiciones</a> </span></li>
<li><span style="font-size: 12pt; color: #ffffff; font-family: 'Titillium Web';"> <a style="color: #ffffff;" href="/info/instrucciones-cuidado.html">Instrucciones de cuidado</a> </span></li>
</ul>
</div>
<div class="parent_capa-Afooter"></div></aside>

            <!-- <aside class="col-md-1"><div class="parent_capa-Afooter"></div></aside> -->
            <aside class="col-md-6 col-lg-2 mce-content-body" id="NnNXFLxdBUi1WB7jIDy3H0WuVAPTB8" spellcheck="false"><div class="footer-list">
<h6 class="title"><span style="color: #ffffff; font-size: 12pt;"><strong><span style="font-family: 'Titillium Web';">Internacional</span></strong></span></h6>
<ul class="list-unstyled l_siguenos">
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://idakoos.com" target="_blank"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icos-flats-03.svg" width="30" height="30" alt="Estados Unidos" loading="lazy">&nbsp; &nbsp; Estados Unidos</a></span></li>
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://idakoos.co.uk" target="_blank"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icos-flats-04.svg" width="30" height="30" alt="Reino Unido" loading="lazy">&nbsp; &nbsp; Reino Unido</a></span></li>
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://idakoos.pe" target="_blank"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icos-flats-05.svg" width="30" height="30" alt="Perú" loading="lazy">&nbsp; &nbsp; Perú</a></span></li>
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://idakoos.ca" target="_blank"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icos-flats-06.svg" width="30" height="30" alt="Canadá" loading="lazy">&nbsp; &nbsp; Canadá</a></span></li>
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://idakoos.es" target="_blank"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icos-flats-07.svg" width="30" height="30" alt="España" loading="lazy">&nbsp; &nbsp; España</a></span></li>
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://idakoos.com.mx" target="_blank"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icos-flats-08.svg" width="30" height="30" alt="México" loading="lazy">&nbsp; &nbsp; México</a></span></li>
<li><span style="color: #ffffff; font-family: 'Titillium Web'; font-size: 12pt;"><a style="color: #ffffff;" href="https://idakoos.de" target="_blank"><img src="https://idks-rsrs-content.s3.amazonaws.com/lab2/images/icons/icos-flats-09.svg" width="30" height="30" alt="Alemania" loading="lazy">&nbsp; &nbsp; Alemania</a></span></li>
</ul>
</div>
<div class="parent_capa-Afooter"></div></aside>

            <aside class="col-md-12 ModulosVacio mce-content-body" id="mce_5" spellcheck="false">
              <p><br></p>
            
            <div class="parent_capa-Afooter"></div></aside>

            <!-- <aside class="col-md-3 mce-content-body" id="TyDDZ6cPwXOikpkhMe0VF88nP7txpc" spellcheck="false" >
                    <h6 class="title" >Métodos de Pago</h6>
                    <ul class="list-unstyled" >
                    <li ><a ><img  src="https://storage.googleapis.com/sspe-appv20-resources/2tupolo.samishop.pe/images/logos/IMG_METODOS_DE_PAGO.png" alt="Métodos de pago" width="280" height="31"  loading="lazy"> </a></li>
                    </ul>
                    <div class="parent_capa-Afooter"></div>
            </aside> -->

            <!-- <aside class="col-md-3 mce-content-body" id="mce_8" spellcheck="false" >
              <p ><br ></p>
            <div class="parent_capa-Afooter"></div>
            </aside>

            <aside class="col-md-3 mce-content-body" id="mce_9" spellcheck="false" >
              <p > <br > </p> 
              <div class="parent_capa-Afooter"></div>
            </aside>

            <aside class="col-md-3 ModulosVacio mce-content-body" id="mce_11" spellcheck="false" >
              <p > <br > </p>
              <div class="parent_capa-Afooter"></div>
            </aside> -->
          </div>
          <!-- row.// -->
        </div>
      </section>
      <!-- footer-top.// -->
    </div>


    <div class="row" id="header-section3"></div>


    <div id="header-section4" class="row">
      <section class="footer-copyright col-md-12 border-top" style="padding: 5px 0px; background-color: rgb(56, 56, 56);" data-seccion="4">
        <div class="container-fluid">
          <div class="row">
            <aside class="col-md-12 mce-content-body" id="zxUqdGFkLjtf4IsjNi804GkMEa0wEQ" spellcheck="false"><p class="text-center"><span style="font-family: 'Titillium Web'; font-size: 10pt; color: #ffffff;">idakoos.pe © 2022 - Todos los derechos reservados</span></p>
<div class="parent_capa-Afooter"></div></aside>
            <!-- <aside class="col-md-6 mce-content-body" id="mce_2" spellcheck="false">
              <p class="text-muted tc">
                <span data-mce-style="color: #ecf0f1;">Desarrollado con la Tecnología Samishop</span>
              </p>
            <div class="parent_capa-Afooter"></div></aside> -->
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- //container -->
</footer>

<!-- ========================= FOOTER END // ========================= -->
<!-- <script >s
  $("*").css("font-family", "Montserrat");
  $("i").css("font-family", "");
</script> -->
<!-- <script src="https://storage.googleapis.com/sspe-appv20-resources/puigmx3.samishop.pe/js/jquery.cookie.js"></script> -->
<!-- <script src="https://storage.googleapis.com/sspe-appv20-resources/puigmx3.samishop.pe/js/script3.js?v=[[VERSION_URL]]"></script> -->

<script>
/*$(document).ready(function(){

  var hostname1 = window.location.hostname.replace("www.","");
  https://storage.googleapis.com/sspe-appv20-resources/sami3.samishop.pe/recursos/form.html?domain=2idakoos.samishop.pe&amp;idform=formulario%20footer

  if(hostname1!="sami3.samishop.pe"){
    var edm = "https://storage.googleapis.com/sspe-appv20-resources/sami3.samishop.pe/recursos/form.html?domain=idakoos.pe&idform=formulario%20footer";
  } else {
    var edm = "https://storage.googleapis.com/sspe-appv20-resources/sami3.samishop.pe/recursos/form.html?domain=2idakoos.samishop.pe&idform=formulario%20footer";
  }

  $("#footer-form iframe").attr("src",edm);

});*/
</script>



<!-- =================== FOOTER END ============================ -->















<!-- Bootstrap4 files-->

<!-- Menu mobile-->
<script src="https://idks-rsrs-content.s3.amazonaws.com/lab2/js/slide-menu.js"></script>
<link href="https://idks-rsrs-content.s3.amazonaws.com/lab2/css/slide-menu.css" rel="stylesheet"/>

<script src="https://s3.us-east-2.amazonaws.com/2idakoos-qa.samishop.pe/js/script3.js"></script>
<script src="https://idks-rsrs-content.s3.amazonaws.com/idakoos2.0/js/header.js"></script>

<script>

    $(document).on("click", "#ico_buscador_1" , function(){
        var val = document.getElementById("txtSearch").value;
        if(val!=''){
            sessionStorage.setItem("busq",val);
            val = val.replaceAll(" ","-");
            var edm = $("#hdfSearching").val();
            if(edm==""){
                window.location.href = "../"+val+"+tshirt?srch=1";
            } else if(edm!=""){
                window.location.href = "../"+val+"+"+edm+"?srch=1";
            }
        }
    });
    $(document).on("keypress", "#txtSearch", function(e){
        if(e.which == 13){
            var inputVal = $(this).val();
            if(inputVal!=''){
                sessionStorage.setItem("busq",inputVal);
                inputVal = inputVal.replaceAll(" ","-");
                var edm = $("#hdfSearching").val();
                if(edm==""){
                    window.location.href = "../"+inputVal+"+tshirt?srch=1";
                } else if(edm!=""){
                    window.location.href = "../"+inputVal+"+"+edm+"?srch=1";
                }
            }
        }
    });
    $(document).on("keypress", ".search__field", function(e){
        if(e.which == 13){
            var inputVal = $(this).val();
            if(inputVal!=''){
                sessionStorage.setItem("busq",inputVal);
                inputVal = inputVal.replaceAll(" ","-");
                window.location.href = "../"+inputVal+"+tshirt?srch=1";
            }
        }
    });


$(document).on('mouseenter', '.dropdown', function (event) { 
    $(this).find(".dropdown-menu").stop(true, true).delay(200).fadeIn();
}).on('mouseleave', '.dropdown', function (event) {
    $(this).find(".dropdown-menu").stop(true, true).delay(200).fadeOut();
});


$(document).on('mouseenter', '.dropdown-menu', function (event) { 
    $(this).stop(true, true);
}).on('mouseleave', '.dropdown-menu', function (event) {
     $(this).stop(true, true).delay(200).fadeOut();
});

// $(".dropdown").hover(
//     function() {
//         $(this).find(".dropdown-menu").stop(true, true).delay(200).fadeIn();
//     },
//     function() {
//         $(this).find(".dropdown-menu").stop(true, true).delay(200).fadeOut();
//     }
// );

// $(".dropdown-menu").hover(
//     function() {
//         $(this).stop(true, true);
//     },
//     function() {
//         $(this).stop(true, true).delay(200).fadeOut();
//     }
// );

    document.addEventListener("DOMContentLoaded", function () {
        // var menu_m = $(".section-header .navbar-nav").html();
        // $(".menu_mobile").html(menu_m);

        //LOGO DE TIENDA
        var logo = $(".logo").attr("src");
        $(".logo_img img").attr("src",logo);
        $(".img_tienda img").attr("src",logo);

        //ICON USUARIO
        var icon_usr = $(".icon1 svg").clone();
        $(".icon_user .img_ustr").html(icon_usr);

        //ICON TIENDA
        var icon_tienda = $(".icon2").html();
        $(".img_crt").html(icon_tienda);

        // $(".menu_mobile > li > a").each(function(){
        //     $(this).removeAttr("data-toggle");
        //     $(this).next().removeClass("dropdown-menu");
        // });

        // $(".menu_mobile > li").each(function(){
        //     $(this).removeClass("dropdown");
        // });

        //ICON BUSQUEDA
        // var icon_srch = $("#ico_buscador_1 svg").clone();
        // $(".search__icon").html(icon_srch);
        var urlCdnStorageDefault = $("#urlCdnStorageDefault").attr("content");
        $(".search__icon").html(`<img src="`+urlCdnStorageDefault+`/images/icons/ico-search-white-02.svg" width="30" height="30" alt="Buscar">`);

    });
</script>

<script>
$(document).on("click", "#search_category_button" , function(){
    window.location.href = "../f/" + document.getElementById("search_category_text").value;
});
</script>
<script>
$(document).ready(function () {
    $(".footer-list").click(function () {
        $(this).toggleClass("mostrar");
    });

});

$(document).ready(function(){

    $("#btn_mail_save").click(function(){//boton
        var correo = $("#txt_tellme_mail_F").val();//input
        var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;

        if(correo=="" || !testEmail.test(correo) ){
            console.log("Ingresa un correo válido");
            $(".notificaEmail").html("Ingresa un correo válido");
        } else if(correo!="" && testEmail.test(correo) ){

            var hostname1 = $("#urlDomainDefault").attr("content");
            var settings = {
              "url": "https://api-clients.samishop.pe/forms/field",
              "method": "PUT",
              "timeout": 0,
              "headers": {
                "Content-Type": "application/json"
              },
              "data": JSON.stringify({
                "dominio": hostname1,
                "nombre_formulario": "newsletter",
                "campos_formulario": {"campo1": correo}
              })
            };

            console.log(hostname1);console.log(correo);

            $.ajax(settings).done(function (response) {
              $("#txt_tellme_mail_F").val("");
              $(".notificaEmail").html("Su correo ha sido registrado");
              console.log(response);

              setTimeout(function(){
                $(".notificaEmail").html("");
              }, 2000);
            });

        }

    });

});
</script>
<!-- -->
<style>
    .section_breadcrumb{padding: 20px 50px;background: rgb(255, 255, 255);}
    .section_breadcrumb .breadcrumb li a, .section_breadcrumb .breadcrumb li a:hover, 
    .section_breadcrumb .breadcrumb li a:focus,
    .section_breadcrumb .breadcrumb li a:active{color: #000;}
    @media screen and (max-width: 768px) {
        .section_breadcrumb{padding: 10px 20px;}
    }
    /* @media (min-width: 1200px){
        
        .section_breadcrumb{width: 94%;padding: 20px 50px;background: rgb(247, 247, 247);}
    } */
    </style>
    <script>
    $(document).ready(function(){
    
        var path = window.location.pathname;
        var domain = document.getElementById("urlDomainDefault").getAttribute("content");
        let vr = (Math.random() + 1).toString(36).substring(7);


        if(path!="/" && $("#contenedorContenido").length>0){

            var sets = {
              "url": "https://storage.googleapis.com/sspe-appv20-resources/"+domain+"/json/listPage.json?v="+vr,
              "method": "GET",
              "timeout": 0,
            };

            $.ajax(sets).done(function (response) {
                var result = response["obj"].pageList;
                var bread = `<div class="section_breadcrumb">
                <nav class="flex-fill breadcrb"> 
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>`;

                for(var q=0; q<result.length; q++){
                    var obm = result[q];
                    var urlweb = "/"+obm["urlWeb"];

                    if(urlweb==path){
                        bread+= `<li class="breadcrumb-item active" aria-current="page">`+obm["metaTititle"]+`</li>`;
                        //document.title = obm["metaTititle"];
                    }
                }

                bread+=`</ol>  
                </nav>
                </div>`;

                $("#contenedorContenido").before(bread);

            });

        }
    
    
        if($.cookie("account_login")!=undefined || $.cookie("account_login")!=null){
            $("header .seccion_user > a").attr("href","/info/mi_perfil.html");
        }
    
    });
    </script>
    <!-- -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
<script type="text/javascript">
var list_domains = $("#urlDomainDefault").attr("content");
var arrayFontsList=[];
function loadFuentes(){

var settings = {
  "url": "https://storage.googleapis.com/sspe-appv20-resources/"+list_domains+"/json/fonts.json",
  "method": "GET",
  "timeout": 0,
};

$.ajax(settings).done(function (response) {
    var ListaFuentes=response['obj'].fonts;
    arrayFontsList=[];

     $(ListaFuentes).each(function(key,value) {
        var value2=`${value}=${value}`;
        arrayFontsList.push(value2);

     });

       arrayFontsList=JSON.stringify(arrayFontsList);
       arrayFontsList=arrayFontsList.replace('[','').replace(']','').replace(/,/g,";").replace(/"/g,"");
       var milistaFuentes= `${arrayFontsList}`;
       window.localStorage.setItem('fonts_global', milistaFuentes);

  

      WebFont.load({
        google: {
          families:ListaFuentes 
        }
      });

});

}


loadFuentes();
</script>
-->
</body>
</html>